<% visiter = notification.visiter %>
<% post = notification.post %>

<div class="list-group-item">
  <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} #{t'notice.ago'})" %></span>
</div>
